@model ESO_Project.Models.ApplicationRole

@{
    ViewBag.Title = "Usuń rolę";
}

<div class="panel-heading">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <font face="Times New Roman" size="20" color="yellow">@ViewBag.Title</font>
                </th>
            </tr>
        </thead>
    </table>
</div>

<div>

    <div class="panel-body">
        <div class="panel panel-primary">
            <div class="bg-primary col-md-12 container-fluid">
                <div class="col-md-1 container-fluid" align="left">
                    <b>Rola</b>
                </div>

            </div>
        </div>
        <div class="panel panel-info">


            <div class="dl-horizontal bg-info">
                <dt>
                    <b>Nazwa roli:</b>
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    <b>Opis roli</b>
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions bg-info">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-info" })
                </div>
            }
        </div>
    </div>




</div>
